<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>490632169396-khnelsugm7ms6nrg1vmj25264cqkep9t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.490632169396-khnelsugm7ms6nrg1vmj25264cqkep9t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>490632169396-qqe3uglesamstq2nm6f2hrjtfsh4vc8f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBfjVngZ1jejpT3H4T6IF27oi1_gUvsOHE</string>
	<key>GCM_SENDER_ID</key>
	<string>490632169396</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.BookApp</string>
	<key>PROJECT_ID</key>
	<string>mylatihan-bacd2</string>
	<key>STORAGE_BUCKET</key>
	<string>mylatihan-bacd2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:490632169396:ios:cad98d92eacbd46fead4e1</string>
	<key>DATABASE_URL</key>
	<string>https://mylatihan-bacd2.firebaseio.com</string>
</dict>
</plist>